/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url('Screenshot 2025-04-05 150821.png') no-repeat center center fixed; /* Change this to your background image */
    background-size: cover;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.login-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-box p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #ff4c5b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #ff2b3d;
}
